/*estilos puramun*/
/*hero*/
#hero{
  background-color: #b2e4fc;
}
#hero-image{
  background-image: url(img/00.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 250px;
}
#hero-text{
  margin-left: auto;
  margin-right: auto; 
  max-width: 800px;
  padding: 100px 0px 200px 0px;
  text-align: center;
}
/*fin hero*/
h1 {
  font-family: "geomanistbold";
  color: #1a1a1a;
  font-size: 3em;
  line-height: 1.1;
}
h2{
  font-family: "geomanistbold";
  color: #1a1a1a;
  font-size: 2em;
  line-height: 1.1;
}
p {
  font-family: "geomanist_regularregular";
  font-size: 1.2em;
  color: #1a1a1a;
  list-style: 1.1;
}
.text{
  margin-left: auto;
  margin-right: auto; 
  max-width: 800px;
  padding: 30px 20px 0px 20px;
  text-align: center;
}
a,a:link,a:hover,a:active,a:visited {
  text-decoration: none;
  color: #1a1a1a;
}
a.link{
  font-family: "geomanistbold";
}
/*intro*/
#intro{
  background-color: #fadb78;
}
#flecha{
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0px 30px 0px;
  text-align: center;
}
/*fin intro*/
/*paso1*/
#paso1{
  background-color: #b2e4fc;
}
#paso1-image1{
  background-image: url(img/lapiz.png);
  background-repeat: no-repeat;
  background-size: 90px;
}
#paso1-image2{
  background-image: url(img/cuaderno.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 170px;
}
#paso1-cabecera{
  padding: 100px 20px 175px 20px;
}
#combinaciones{
  background-color: white;
  margin:  30px auto 0px auto;
  padding: 0px 0px 40px 0px;
  text-align: center;
}
/*fin paso1*/





/*fin estilos puramun*/



/*estilos bootstrap*/
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  background-color: white;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
/*fin estilos bootstrap*/
/*mis estilos*/
.cabecera { 
  background-color: #63C2FC;
  background-image: url(img/img2.png);
  background-size: 500px;background-image: url(img/img2.png);

}
.content {
  margin-left: auto;
  margin-right: auto; 
  max-width: 800px;
}
#image {
  background-image: url(img/img.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 500px;
  padding: 100px 30px 170px 30px;
}
@media screen and (min-width: 48em) {
  #image {
    background-image: url(img/img.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 800px;
    padding: 90px 60px 260px 60px;
  }
  .cabecera{
    background-image: url(img/img2.png);
    background-size: 800px;
  }
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
.overlay.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s;
}
.overlay {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(53,180,51,.9);
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s,visibility 0s .5s;
}

